<layout name="layout" />

<div class="col-xs-12">
    <div class="table-responsive">
        <table id="sample-table-1" class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th class="col-xs-3">用户名</th>
                <th class="col-xs-8">角色名称</th>

                <th class="col-xs-1">操作</th>
            </tr>
            </thead>

            <tbody>
            <volist name="data" id="item">
                <tr>

                    <td>{$item['username']}</td>
                    <td>{$item['id'] == 1 ? '超级管理员':$item['role_name']}</td>


                    <td>
                        <div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
                            <!--<button class="btn btn-xs btn-success">-->
                            <!--<i class="icon-ok bigger-120"></i>-->
                            <!--</button>-->
                            <!--<a href="{:U('add')}" class="btn btn-xs btn-success">-->
                            <!--<i class="icon-ok bigger-120"></i>-->
                            <!--</a>-->

                            <a href="{:U('edit',array('id'=>$item['id']))}" class="btn btn-xs btn-info">
                                <i class="icon-edit bigger-120"></i>
                            </a>

                            <button class="btn btn-xs btn-danger">
                                <i class="icon-trash bigger-120"></i>
                            </button>

                            <!--<button class="btn btn-xs btn-warning">-->
                            <!--<i class="icon-flag bigger-120"></i>-->
                            <!--</button>-->
                        </div>


                    </td>
                </tr>
            </volist>
            </tbody>
        </table>
    </div><!-- /.table-responsive -->
</div><!-- /span -->
